.tempDesign{
    width: 100%;
    border:1px solid #000;
    display: flex;
    justify-content: center;
}
.tempDesign > img{
    width: 400px;
}

/*  */
.tempDesign{
    position: relative;
}
.conent{
    color: #000;
    font-size: 9px;
    text-align: left;
    width: 100%;
}
.conent > .hd1{
    position: absolute;
    top: 187px;
    left: 136px;
}
.conent > .hd2{
    position: absolute;
    top: 204px;
    left: 160px;
    text-align: start;
}

.conent > .hd3{
    position: absolute;
    top: 218px;
    left: 10pc;
}

.conent > .subject{
    position: absolute;
    top: 244px;
    left: 160px;
}
.conent > .main_p1 { 
    position: absolute;
    top: 285px;
    left: 8pc;
 }
.conent > .main_p2 { 
    position: absolute; 
    left: 8pc;
    top: 19pc;
    width: 268px;
    text-align: justify;
}
.conent > .mainLs { 
    position: absolute; 
    left: 104px;
    top: 22.3pc;
}
.conent > .main_p3 { 
    position: absolute; 
    left: 8pc;
    top: 25.5pc;
    width: 271px;
    text-align: justify;
}
.conent > .main_p4 { 
    position: absolute;
    top: 28.5pc;
    left: 8pc; 
}
.conent .main_p5{
    position: absolute; 
    
}
.conent > .footer { 
    position: absolute; 
    left: 6pc;
    top: 30.5pc;
    list-style: none;
}



/* CARD */
.content{
    position: absolute;
    top: 7pc;
    left: 21px;
    width: 173px;
    height: 184px;
}
.content > .name{
   position: relative;
    text-align: center;
    top: 6.7pc;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Inter";
}
.content > .post{
    position: relative;
    text-align: center;
    top: 5.95pc;
    font-size: 12px;
}
.content > .contact{
    position: relative;
    text-align: center;
    top: 77px;
    font-size: 10px;
    font-weight: 500;
}
.content > .idnum {
   position: relative;
   text-align: center;
   top: 78px;
   left: 24px;
   font-size: 11px;
   font-weight: 700;
}
.content > .imgPro{
    width: 79px;
    height: 91px;
    position: absolute;
    left: 48px;
    top: 10px;
    border-radius: 5px;
}