<div class="container">
    <div class="row">
        <div class="col-10" *ngIf="IsVisible">
            <div class="w-50 m-auto" *ngIf="!docShow" #capture2 id="capture2">
                <div class="tempDesign">
                    <img src="../../../assets/offerLetter.png" alt="" class="w-100 h-100 offerLetter">
                    <div class="conent">
                        <p class="hd1">To,</p>
                        <p class="hd2">Shri/Smt. __{{Name}}__</p>
                        <p class="hd3">Address: _{{address}}_</p>
                        <p class="subject">Subject: Regarding the position at -<br>Helping Hand Sanstha</p>
                        <p class="main_p1">Respected Mr./Ms. _{{Name}}_,</p>
                        <p class="main_p2">We are pleased to inform you that you are hereby appointed for voluntary service at the Helping Hand Sanstha's ___________ branch for the following position:</p>
                        <ul class="mainLs">
                            <li>Designation: _{{Post}}_</li>
                            <li>Level: {{level}}</li>
                            <li>Date of Appointment: {{date | date:'dd'}}/{{date | date:'MM'}}/  {{date | date:'yyyy'}}</li>
                        </ul>
                        <p class="main_p3">Your appointment is completely honorary/voluntary, and the organization reserves the right to amend or terminate it at any time without prior notice.</p>
                        <p class="main_p4">Our best wishes are with you.</p>
                        <p class="main_p5">Sincerely,</p>
                        <ul class="footer">
                            <li>Name: {{Name}}_</li>
                            <li>Designation: {{Post}}</li><br>
                            <li>Seal: ________________</li>
                        </ul>
                    </div>
                </div>
                <div class="p-2 printBtn">
                    <button class="btn btn-success" (click)="print1('OfferLetter')">Print</button> &nbsp;
                    <button class="btn btn-warning" (click)="this.docShow=true">Id Card</button>&nbsp;
                </div>
            </div>
            <div class="w-50 m-auto" *ngIf="docShow" #capture1 id="capture1">
                <div class="tempDesign" >
                    <img src="../../../assets/idCard.jpg" alt="" class="w-100 h-100">
                    <div class="content">
                        <img [src]="ProfileImg" alt="" class="imgPro">
                        <h1 class="name">{{Name}}</h1>
                        <p class="post">{{Post}}</p>
                        <p class="contact">+91{{contact}}</p>
                        <p class="idnum">HHS-{{UId}}</p>
                    </div>
                </div>
                <div class="p-2 printBtn">
                    <button class="btn btn-success" (click)="print1('IDCard')">Print</button> &nbsp;
                    <button class="btn btn-warning" (click)="this.docShow=false">Offer Letter</button> &nbsp;
                    <!-- <button class="btn btn-primary" (click)="sendToUser('OfferLetter')">Send to User</button> -->
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <ng-autocomplete 
            [data]="data"
            [searchKeyword]="keyword"
            placeholder="Find Save Record..."
            (selected)='selectEvent($event)'
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">                                 
            </ng-autocomplete>
            <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.Name">{{item.Name}}</a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>
    </div>
</div>
