
    <!-- loader -->
    <div *ngIf="loader" class="w-screen h-screen flex-center bg-white dark:bg-dark-card fixed inset-0 z-[9999]">
        <img src="assets/pre-loader/bar-loader.gif" alt="loader">
    </div>
    <!-- loader -->

    <!-- Start Main Content -->
    <div class="main-content group-data-[sidebar-size=lg]:xl:ml-[calc(theme('spacing.app-menu')_+_16px)] group-data-[sidebar-size=sm]:xl:ml-[calc(theme('spacing.app-menu-sm')_+_16px)] group-data-[theme-width=box]:xl:px-0 px-3 xl:px-4 ac-transition">
        <div class="grid grid-cols-12 gap-x-4">
            <div class="col-span-full">
                <div class="card p-0">
                    <div class="grid grid-cols-12">
                        <div class="col-span-full">
                            <div class="card p-0">
                                <div class="p-6">
                                    <div class="flex-center-between">
                                        <div>
                                            <h2 class="card-title">Payment History (32)</h2>
                                            <p class="card-description">
                                                See history of your payment plan invoice
                                            </p>
                                        </div>
                                        <button matButton (click)="openDialog()" class="btn b-light btn-primary-light dk-theme-card-square">
                                            <i class="ri-add-fill text-inherit"></i>
                                            <span>Make Payment</span>
                                        </button>
                                    </div>
                                    <!-- START INFORMATION TABLE -->
                                    <div class="overflow-x-auto mt-5">
                                        <table class="table-auto border-collapse w-full whitespace-nowrap text-left text-gray-500 dark:text-dark-text font-medium">
                                            <thead>
                                                <tr>
                                                    <th class="p-6 py-4 bg-[#F2F4F9] dark:bg-dark-card-two dk-border-one">Sr.</th>
                                                    <th class="p-6 py-4 bg-[#F2F4F9] dark:bg-dark-card-two dk-border-one">Payment ID</th>
                                                    <th class="p-6 py-4 bg-[#F2F4F9] dark:bg-dark-card-two dk-border-one">Mode</th>
                                                    <th class="p-6 py-4 bg-[#F2F4F9] dark:bg-dark-card-two dk-border-one">Date</th>
                                                    <th class="p-6 py-4 bg-[#F2F4F9] dark:bg-dark-card-two dk-border-one">Code</th>
                                                    <th class="p-6 py-4 bg-[#F2F4F9] dark:bg-dark-card-two dk-border-one">Amount</th>
                                                    <th class="p-6 py-4 bg-[#F2F4F9] dark:bg-dark-card-two dk-border-one">Invoice</th>
                                                </tr>
                                            </thead>
                                            <tbody class="divide-y divide-gray-200 dark:divide-dark-border-three">
                                                <tr class="hover:bg-primary-200/50 dark:hover:bg-dark-icon hover:text-gray-500 dark:hover:text-dark-text group/tr"> 
                                                    <td class="px-7 py-6">1.</td>
                                                    <td class="px-7 py-6">
                                                        <div class="flex items-center">
                                                            <h4 class="text-lg leading-none text-heading font-bold">
                                                                <a href="#">#7695-249</a>
                                                            </h4>
                                                        </div>
                                                    </td>
                                                    <td class="px-7 py-6">
                                                        <p>(Credit card)</p>
                                                    </td>
                                                    <td class="px-7 py-6">Apr 21, at 10:30 PM</td>
                                                    <td class="px-7 py-6">GA-5896</td>
                                                    <td class="px-7 py-6">$1,199</td>
                                                    <td class="px-7 py-6">
                                                        <a href="#" class="size-8 flex-center rounded-50 bg-primary-200 dark:bg-dark-icon">
                                                            <i class="ri-download-cloud-2-line text-primary-500"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- START PAGINATION -->
                                    <div class="flex-center-between mt-5">
                                        <div class="font-spline_sans text-sm text-gray-900 dark:text-dark-text">Showing 1 to 8 of 20 entries</div>
                                        <nav class="dk-border-one rounded-[4px] overflow-hidden">
                                            <ul class="divide-x divide-gray-200 dark:divide-dark-border-three flex items-center">
                                                <li>
                                                    <a href="#" class="font-spline_sans font-medium flex-center size-8 text-gray-900 dark:text-dark-text bg-white dark:bg-dark-card-two hover:bg-primary-500 hover:text-white [&.active]:bg-primary-500 [&.active]:text-white">
                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 -rotate-45">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 19.5-15-15m0 0v11.25m0-11.25h11.25" />
                                                        </svg>                                            
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="font-spline_sans font-medium flex-center size-8 text-gray-900 dark:text-dark-text bg-white dark:bg-dark-icon hover:text-primary-500 [&.active]:text-primary-500">1</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="font-spline_sans font-medium flex-center size-8 text-gray-900 dark:text-dark-text bg-white dark:bg-dark-icon hover:text-primary-500 [&.active]:text-primary-500 active">2</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="font-spline_sans font-medium flex-center size-8 text-gray-900 dark:text-dark-text bg-white dark:bg-dark-icon hover:text-primary-500 [&.active]:text-primary-500">
                                                        <i class="ri-more-fill text-inherit"></i>                                              
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="font-spline_sans font-medium flex-center size-8 text-gray-900 dark:text-dark-text bg-white dark:bg-dark-icon hover:text-primary-500 [&.active]:text-primary-500">10</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="font-spline_sans font-medium flex-center size-8 text-gray-900 dark:text-dark-text bg-white dark:bg-dark-card-two hover:bg-primary-500 hover:text-white [&.active]:bg-primary-500 [&.active]:text-white active">
                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 rotate-45">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                                                        </svg>                                                                                          
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>