/* NG _ AUTO Complete -- OPEN */
  .ng-autocomplete {
      width: 300px;
      border-radius: 20px;
  }
  .ng-autocomplete {
    position: relative;
  }
  .ng-autocomplete .autocomplete-container {
    position: absolute !important;
    top: auto !important;
    bottom: 100% !important;
    transform: translateY(-4px);
    z-index: 9999;
  }
/* NG _ AUTO Complete -- CLOSE */