<div style="height: 100vh; width: 100%; background-color: antiquewhite; padding: 2px;">

   <div class="row">
     <div class="col-md-8">
         <form action="" class="p-2" [formGroup]="TeamForm">
            <div class="row pt-2">
                <div class="col-md-6">
                    <label>imgPath</label>
                    <input type="file" (change)="fileUpdate($event)" formControlName="imgPath" placeholder="Enter imgPath" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>name</label>
                    <input type="text" formControlName="name" placeholder="Enter name" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>position</label>
                    <input type="text" formControlName="position" placeholder="Enter position" class="form-control">
                </div>
 
            </div>
        </form>
     </div>
      <div class="col-md-4 ">
        <div class="ng-autocomplete pt-4" [ngClass]="showList?'d-block':'d-none'">
            <ng-autocomplete 
            [data]="data"
            [searchKeyword]="keyword"
            placeholder="Find Save Record..."
            (selected)='selectEvent($event)'
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">                                 
            </ng-autocomplete>
            <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.Name">{{item.Name}}</a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>
        <img *ngIf="imagePreview" [src]="imagePreview" alt="Image_Preview" height="150px" class="pt-2 w-75">
     </div>
   </div>


    <div class="d-flex justify-content-between w-75" style="position:fixed; bottom: 20px;left: 205px;background-color: rgb(240, 240, 240);  border-radius: 20px; padding:10px;">
        <div>
            <button (click)="onSubmit()" class="btn shadow-sm" [ngClass]="updateAct?'btn-secondary':'btn-success'">{{updateAct?'Submit':'Update'}}</button>
            <button (click)="delet()" class="btn btn-danger mx-2 shadow-sm" [ngClass]="updateAct?'d-none':'-d-block'">Delete</button>
            <button (click)="allot()" class="btn btn-light mx-2 shadow-sm">All List</button>
            <button (click)="fresh()" class="btn btn-light mx-2 shadow-sm">New Entry</button>
        </div>
       
    </div>
</div>