<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="w-50 m-auto" *ngIf="!docShow">
                <div class="tempDesign" >
                    <img src="../../../assets/offerLetter.png" alt="" class="w-100 h-100">
                </div>
                <div class="p-2">
                    <button class="btn btn-success">Print</button> &nbsp;
                    <button class="btn btn-danger">Clear</button> &nbsp;
                    <button class="btn btn-warning" (click)="this.docShow=true">Id Card</button>
                    <button class="btn btn-primary" (click)="sendToUser('IdCard')">Send to User</button>
                </div>
            </div>
            <div class="w-50 m-auto" *ngIf="docShow">
                <div class="tempDesign" >
                    <img src="../../../assets/idCard.jpg" alt="" class="w-100 h-100">
                </div>
                <div class="p-2">
                    <button class="btn btn-success">Print</button> &nbsp;
                    <button class="btn btn-danger">Clear</button> &nbsp;
                    <button class="btn btn-warning" (click)="this.docShow=false">Offer Letter</button> &nbsp;
                    <button class="btn btn-primary" (click)="sendToUser('OfferLetter')">Send to User</button>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <ng-autocomplete 
            [data]="data"
            [searchKeyword]="keyword"
            placeholder="Find Save Record..."
            (selected)='selectEvent($event)'
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">                                 
            </ng-autocomplete>
            <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.linkText1">{{item.heading}}</a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>
    </div>
</div>