<!-- <div style="height: 100vh; width: 100%; background-color: antiquewhite; padding: 2px;">
   <div class="row">
     <div class="col-md-8">
         <form action="" class="p-2" [formGroup]="DonateForm">
            <div class="row">
                <div class="col-md-6">
                    <label>imgPath</label>
                    <input type="file" formControlName="imgPath" (change)="fileUpdate($event)" placeholder="Select Image .JPG, .PNG" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>categ</label>
                    <input type="text" formControlName="categ" placeholder="Enter categ" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>rais</label>
                    <input type="text" formControlName="rais" placeholder="Enter rais" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>goal</label>
                    <input type="text" formControlName="goal" placeholder="Enter goal" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>heading</label>
                    <input type="text" formControlName="heading" placeholder="Enter heading" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>para</label>
                    <input type="text" formControlName="para" placeholder="Enter para" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>progress</label>
                    <input type="text" formControlName="progress" placeholder="Enter progress" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>link</label>
                    <input type="text" formControlName="link" placeholder="Enter link" class="form-control">
                </div>

            </div>
        </form>
     </div>
      <div class="col-md-4 ">
        <div class="ng-autocomplete pt-4" [ngClass]="showList?'d-block':'d-none'">
            <ng-autocomplete 
            [data]="data"
            [searchKeyword]="keyword"
            placeholder="Find Save Record..."
            (selected)='selectEvent($event)'
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">                                 
            </ng-autocomplete>
            <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.Heading">{{item.Heading}}</a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>
        <img *ngIf="imagePreview" [src]="imagePreview" alt="Image_Preview" height="150px" class="pt-2 w-75">
     </div>
   </div>


    <div class="d-flex justify-content-between w-75" style="position:fixed; bottom: 20px;left: 205px;background-color: rgb(240, 240, 240);  border-radius: 20px; padding:10px;">
        <div>
            <button (click)="onSubmit()" class="btn shadow-sm" [ngClass]="updateAct?'btn-secondary':'btn-success'">{{updateAct?'Submit':'Update'}}</button>
            <button (click)="delet()" class="btn btn-danger mx-2 shadow-sm" [ngClass]="updateAct?'d-none':'-d-block'">Delete</button>
            <button (click)="allot()" class="btn btn-light mx-2 shadow-sm">All List</button>
            <button (click)="fresh()" class="btn btn-light mx-2 shadow-sm">New Entry</button>
        </div>
       
    </div>
</div> -->

<!-- loader -->
    <div *ngIf="loader" class="w-screen h-screen flex-center bg-white dark:bg-dark-card fixed inset-0 z-[9999]">
        <img src="assets/pre-loader/bar-loader.gif" alt="loader">
    </div>
    <!-- loader -->

    <!-- Start Main Content -->
    <div class="main-content group-data-[sidebar-size=lg]:xl:ml-[calc(theme('spacing.app-menu')_+_16px)] group-data-[sidebar-size=sm]:xl:ml-[calc(theme('spacing.app-menu-sm')_+_16px)] group-data-[theme-width=box]:xl:px-0 px-3 xl:px-4 ac-transition">
        <div class="card">
            <div style="display: flex;justify-content: space-between;align-items: center;">
                <h2 class="card-title">Search Donate List</h2>
                <div class="ng-autocomplete" [ngClass]="showList?'d-block':'d-none'">
                    <ng-autocomplete 
                    [data]="data"
                    [searchKeyword]="keyword"
                    placeholder="Find Save Record..."
                    (selected)='selectEvent($event)'
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">                                 
                    </ng-autocomplete>
                    <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.Heading">{{item.Heading}}</a>
                    </ng-template>
                    <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-12 gap-x-4">
            <!-- DATA FORM -->
            <div class="col-span-full">
                <div class="card p-0">
                    <div class="flex-center-between p-6 pb-4 border-b border-gray-200 dark:border-dark-border">
                        <h3 class="text-lg card-title leading-none">Donate List</h3>
                    </div>
                    <form class="p-6" [formGroup]="DonateForm">
                        <div class="flex lg:flex-row flex-col gap-x-4">
                            <div class="w-full mb-4">
                                <label for="phone" class="form-label">Set Image</label>
                                <input type="file" formControlName="imgPath" (change)="fileUpdate($event)" placeholder="Select Image .JPG, .PNG" class="form-input" autocomplete="off" required>
                            </div>
                            <div class="w-full mb-4">
                                <label  class="form-label">Category</label>
                                <input type="text" formControlName="categ" placeholder="Enter service type" class="form-input" >
                            </div>
                             <div class="w-full mb-4">
                                <label class="form-label">Raise</label>
                                <input type="text" formControlName="rais" placeholder="Enter service type" class="form-input" >
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col gap-x-4">
                            <div class="w-full mb-4">
                                <label  class="form-label">Goal</label>
                                <input type="text" formControlName="goal" placeholder="Enter service type" class="form-input" >
                            </div>
                             <div class="w-full mb-4">
                                <label  class="form-label">Heading</label>
                                <input type="text" formControlName="heading" placeholder="Enter service type" class="form-input" >
                            </div>
                             <div class="w-full mb-4">
                                <label class="form-label">Peragraph</label>
                                <input type="text" formControlName="para" placeholder="Enter service type" class="form-input" >
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col gap-x-4">
                            <div class="w-full mb-4">
                                <label  class="form-label">Progress</label>
                                <input type="text" formControlName="progress" placeholder="Enter service type" class="form-input" >
                            </div>
                             <div class="w-full mb-4">
                                <label  class="form-label">Link</label>
                                <input type="text" formControlName="link" placeholder="Enter service type" class="form-input" >
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col gap-x-4">
                            <div class="w-full mb-4">
                                <img *ngIf="imagePreview" [src]="imagePreview" alt="Image_Preview" height="150px" class="pt-2 w-75">
                            </div>
                        </div>
                        <div style="display: flex;justify-content: space-between;flex-wrap: wrap;">
                            <button (click)="onSubmit()" class="btn b-solid px-5 dk-theme-card-square" [ngClass]="updateAct?'btn-secondary-solid':'btn-success-solid'">{{updateAct?'Submit':'Update'}}</button>
                            <button (click)="delet()" class="btn b-solid btn-danger-solid px-5 dk-theme-card-square" [ngClass]="updateAct?'d-none':'-d-block'">Delete</button>
                            <button (click)="allot()" class="btn b-solid btn-light-solid px-5 dk-theme-card-square">All List</button>
                            <button (click)="fresh()" class="btn b-solid btn-light-solid px-5 dk-theme-card-square">New Entry</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
