<!-- @if (isVisible) {
    <div class="body-wrapper d-flex">
        
        <div class="sidebar d-flex flex-column">
            <ul class="nav flex-column px-3 ">
                <li class="px-1 py-2"><b>Web Panel</b></li>
                <li class="nav-item bg-white rounded mb-1 shadow-sm">
                    <a class="nav-link text-secondary" routerLink="/blog">Blog</a>
                </li>
                <li class="nav-item bg-white rounded mb-1 shadow-sm">
                    <a class="nav-link text-secondary" routerLink="/BlogDetails">Blog Details</a>
                </li>
                <li class="nav-item bg-white rounded mb-1 shadow-sm" >
                    <a class="nav-link text-secondary"  routerLink="/project">Project</a>
                </li>
                <li class="nav-item bg-white rounded mb-1 shadow-sm">
                    <a class="nav-link text-secondary" routerLink="/projectDetails">Project Details</a>
                </li>
                <li class="nav-item bg-white rounded mb-1 shadow-sm">
                    <a class="nav-link text-secondary" routerLink="/event">Event</a>
                </li>
                <li class="nav-item bg-white rounded mb-1 shadow-sm">
                    <a class="nav-link text-secondary" routerLink="/eventDetails">Event Details</a>
                </li>
                <li class="nav-item bg-white rounded mb-1 shadow-sm">
                    <a class="nav-link text-secondary" routerLink="/donate">Donate</a>
                </li>
                <li class="nav-item bg-white rounded mb-1 shadow-sm">
                    <a class="nav-link text-secondary" routerLink="/donateDetails">Donate Details</a>
                </li>
                <li class="nav-item bg-white rounded mb-1 shadow-sm">
                    <a class="nav-link text-secondary" routerLink="/team_manager">Team Manager</a>
                </li>
            </ul>

            <ul class="nav flex-column px-3">
                <li class="px-1 py-2"><b>User Panel</b></li>
                <li class="nav-item bg-white rounded mb-1 shadow-sm">
                    <a class="nav-link text-secondary" routerLink="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item bg-white rounded mb-1 shadow-sm">
                    <a class="nav-link text-secondary" routerLink="/UserList">Users</a>
                </li>
            </ul>
            <div class="p-2"></div>

        </div>

        <div class="main-content flex-grow-1">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-scroll">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">MyApp Logo</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="topNavbar">
                        <a class="btn btn-secondary" (click)="logout()">Logout</a>
                    </div>
                </div>
            </nav>

            <div class="">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
}

@if (!isVisible) {
    <router-outlet></router-outlet>
} -->


<router-outlet></router-outlet>