<!-- <div style="min-height: 100vh; width: 100%; background-color: antiquewhite; padding: 2px; padding-bottom:3em">

   <div class="row">
     <div class="col-md-9">
         <form class="p-2" [formGroup]="EventDetails">
            <div class="row">
                <div class="col-md-4">
                    <div class="ng-autocomplete pt-4" [ngClass]="showList?'d-block':'d-none'">
                        <ng-autocomplete 
                        [data]="data"
                        [searchKeyword]="keyword"
                        placeholder="Find Save Record..."
                        (selected)='selectEvent($event)'
                        [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate" class="w-100">                                 
                        </ng-autocomplete>
                        <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.Heading">{{item.Heading}}</a>
                        </ng-template>
                        <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                </div>
            </div>
            
            <div [ngStyle]="{ 'display': this.isVisible ? 'block' : 'none' }">
                <div class="row pt-2">
                    <div class="col-md-12">
                        <label for="">Blog List Heading</label>
                        <input type="text" [value]="eventListHding" disabled class="form-control">
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-6">
                        <label>Image</label>
                        <input type="file" formControlName="img" placeholder="Enter img" (change)="onFileSelected1($event)" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Dadicat</label>
                        <input type="text" formControlName="dadicat" placeholder="Enter dadicat" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Head1</label>
                        <input type="text" formControlName="head1" placeholder="Enter head1" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Pera</label>
                        <input type="text" formControlName="pera11" placeholder="Enter pera11" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Pera</label>
                        <input type="text" formControlName="pera12" placeholder="Enter pera12" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Head</label>
                        <input type="text" formControlName="head2" placeholder="Enter head2" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Pera</label>
                        <input type="text" formControlName="pera22" placeholder="Enter pera22" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>List 1</label>
                        <input type="text" formControlName="li1" placeholder="Enter li1" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>List 2</label>
                        <input type="text" formControlName="li2" placeholder="Enter li2" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>List 3</label>
                        <input type="text" formControlName="li3" placeholder="Enter li3" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>List 4</label>
                        <input type="text" formControlName="li4" placeholder="Enter li4" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>List 5</label>
                        <input type="text" formControlName="li5" placeholder="Enter li5" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Other Head</label>
                        <input type="text" formControlName="otherHead" placeholder="Enter otherHead" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Part 1</label>
                        <input type="text" formControlName="parti1" placeholder="Enter parti1" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Part 2</label>
                        <input type="text" formControlName="parti12" placeholder="Enter parti12" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Part 3</label>
                        <input type="text" formControlName="parti13" placeholder="Enter parti13" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Part 4</label>
                        <input type="text" formControlName="parti14" placeholder="Enter parti14" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Part 5</label>
                        <input type="text" formControlName="parti15" placeholder="Enter parti15" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Part 6</label>
                        <input type="text" formControlName="parti16" placeholder="Enter parti16" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Part 7</label>
                        <input type="text" formControlName="parti17" placeholder="Enter parti17" class="form-control">
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="col-md-3" [ngStyle]="{'display':this.isVisible ? 'block':'none'}">
        <div class="row pt-2">
            <label>Image</label>
            <img *ngIf="imagePreview1" [src]="imagePreview1" [alt]="imagePreview1" height="150px" class="pt-2 w-75">
        </div>
     </div>
   </div>


    <div class="d-flex justify-content-between w-75" style="position:fixed; bottom: 20px;left: 205px;background-color: rgb(240, 240, 240);  border-radius: 20px; padding:10px;">
        <div>
            <button (click)="onSubmit()" class="btn shadow-sm" [ngClass]="updateAct?'btn-secondary':'btn-success'">{{updateAct?'Submit':'Update'}}</button>
            <button (click)="allot()" class="btn btn-light mx-2 shadow-sm">All List</button>
            <button (click)="clear()" class="btn btn-light mx-2 shadow-sm">Clear</button>
        </div>
    </div>
</div> -->


<div *ngIf="loader" class="w-screen h-screen flex-center bg-white dark:bg-dark-card fixed inset-0 z-[9999]">
    <img src="assets/pre-loader/bar-loader.gif" alt="loader">
</div>

<div class="main-content group-data-[sidebar-size=lg]:xl:ml-[calc(theme('spacing.app-menu')_+_16px)] group-data-[sidebar-size=sm]:xl:ml-[calc(theme('spacing.app-menu-sm')_+_16px)] group-data-[theme-width=box]:xl:px-0 px-3 xl:px-4 ac-transition">
    <div class="card">
        <div style="display: flex;justify-content: space-between;align-items: center;">
            <h2 class="card-title">Website Event Details Form</h2>
            <div class="ng-autocomplete" [ngClass]="showList?'d-block':'d-none'">
                <ng-autocomplete 
                [data]="data"
                [searchKeyword]="keyword"
                placeholder="Find Save Record..."
                (selected)='selectEvent($event)'
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate" class="w-100">                                 
                </ng-autocomplete>
                <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.Heading">{{item.Heading}}</a>
                </ng-template>
                <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
        </div>
    </div>

     <div class="grid grid-cols-12 gap-x-4">
        <!-- DATA FORM -->
        <div class="col-span-full">
            <div class="card p-0">
                <div class="flex-center-between p-6 pb-4 border-b border-gray-200 dark:border-dark-border">
                    <h3 class="text-lg card-title leading-none">Event Details</h3>
                </div>
                <form class="p-6" [formGroup]="EventDetails" >
                    <div [ngStyle]="{ 'display': this.isVisible ? 'block' : 'none' }">
                        <div class="flex lg:flex-row flex-col gap-x-4">
                            <div class="w-full mb-4">
                                 <label class="form-label">Event List Heading</label>
                            <input type="text" [value]="eventListHding" disabled autocomplete="off" class="form-input" required >
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">Image</label>
                                <input type="file" formControlName="img" (change)="onFileSelected1($event)" placeholder="Select Image .JPG, .PNG" class="form-input">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">Dadicat</label>
                                <input type="text" formControlName="dadicat" placeholder="Enter Dadicat" class="form-input">
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col gap-x-4">
                            <div class="w-full mb-4">
                                <label class="form-label">Heading 1</label>
                                <input type="text" formControlName="head1" placeholder="Enter Heading" class="form-input">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">Peragraph 1</label>
                                <input type="text" formControlName="pera11" placeholder="Enter Peragraph 1" class="form-input">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">Peragraph 2</label>
                                <input type="text" formControlName="pera12" placeholder="Enter Peragraph 2" class="form-input">
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col gap-x-4">
                            <div class="w-full mb-4">
                                <label class="form-label">Heading 2</label>
                                <input type="text" formControlName="head2" placeholder="Enter Heading 2" class="form-input">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">Peragraph 22</label>
                                <input type="text" formControlName="pera22" placeholder="Enter Peragraph 22" class="form-input">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">List 1</label>
                                <input type="text" formControlName="li1" placeholder="Enter List 1" class="form-input">
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col gap-x-4">
                            <div class="w-full mb-4">
                                <label class="form-label">List 2</label>
                                <input type="text" formControlName="li2" placeholder="Enter List 2" class="form-input">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">List 3</label>
                                <input type="text" formControlName="li3" placeholder="Enter List 3" class="form-input">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">List 4</label>
                                <input type="text" formControlName="li4" placeholder="Enter List 4" class="form-input">
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col gap-x-4">
                            <div class="w-full mb-4">
                                <label class="form-label">List 5</label>
                                <input type="text" formControlName="li5" placeholder="Enter List 5" class="form-input">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">Other Head</label>
                                <input type="text" formControlName="otherHead" placeholder="Enter Other Head" class="form-input">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">Part 1</label>
                                <input type="text" formControlName="parti1" placeholder="Enter Part 1" class="form-input">
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col gap-x-4">
                            <div class="w-full mb-4">
                                <label class="form-label">Part 2</label>
                                <input type="text" formControlName="parti12" placeholder="Enter Part 2" class="form-input">
                            </div>
                             <div class="w-full mb-4">
                                <label class="form-label">Part 3</label>
                                <input type="text" formControlName="parti13" placeholder="Enter Part 3" class="form-input">
                            </div>
                             <div class="w-full mb-4">
                                <label class="form-label">Part 4</label>
                                <input type="text" formControlName="parti14" placeholder="Enter Part 4" class="form-input">
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col gap-x-4">
                            <div class="w-full mb-4">
                                <label class="form-label">Part 5</label>
                                <input type="text" formControlName="parti15" placeholder="Enter Part 5" class="form-input">
                            </div>
                             <div class="w-full mb-4">
                                <label class="form-label">Part 6</label>
                                <input type="text" formControlName="parti16" placeholder="Enter Part 6" class="form-input">
                            </div>
                             <div class="w-full mb-4">
                                <label class="form-label">Part 7</label>
                                <input type="text" formControlName="parti17" placeholder="Enter Part 7" class="form-input">
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col gap-x-4">
                            <div class="w-full mb-4">
                                <img *ngIf="imagePreview1" [src]="imagePreview1" alt="Image_Preview" height="150px" class="pt-2 w-75">
                            </div>
                        </div>
                        
                    </div>
                    <div style="display: flex;justify-content: space-between;">
                        <button (click)="onSubmit()" class="btn b-solid px-5 dk-theme-card-square" [ngClass]="updateAct?'btn-secondary-solid':'btn-success-solid'">{{updateAct?'Submit':'Update'}}</button>
                        <button (click)="allot()" class="btn b-solid btn-light-solid px-5 dk-theme-card-square">All List</button>
                        <button (click)="clear()" class="btn b-solid btn-light-solid px-5 dk-theme-card-square">New Entry</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
