<div style="height: 100vh; width: 100%; background-color: antiquewhite; padding: 2px;">

   <div class="row">
     <div class="col-md-8">
         <form action="" class="p-2" [formGroup]="EventLsForm">
            <div class="row">
                <div class="col-md-6">
                    <label>Date</label>
                    <input type="Date" formControlName="date" id="name" placeholder="Select Date" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>Heading</label>
                    <input type="text" formControlName="heading" placeholder="Enter Heading"  class="form-control">
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-md-6">
                    <label>Pera</label>
                    <input type="text" formControlName="pera"  placeholder="Enter rights" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>Place</label>
                    <input type="text" formControlName="place"  placeholder="Enter service type"  class="form-control">
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-md-6">
                    <label>Address</label>
                    <input type="text" formControlName="address"  placeholder="Enter service type"  class="form-control">
                </div>
                <div class="col-md-6">
                    <label>Set Image</label>
                    <input type="file" formControlName="imgPath"  placeholder="Select Image .JPG, .PNG" (change)="fileUpdate($event)" class="form-control">
                </div> 
            </div>
            <div class="row pt-2">
                <div class="col-md-6">
                    <label>Link</label>
                    <input type="text" formControlName="link"  placeholder="Enter Link" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>Link Text</label>
                    <input type="text" formControlName="linkText"  placeholder="Enter Link Text" class="form-control">
                </div>
            </div>
        </form>
     </div>
      <div class="col-md-4 ">
        <div class="ng-autocomplete pt-4" [ngClass]="showList?'d-block':'d-none'">
            <ng-autocomplete 
            [data]="data"
            [searchKeyword]="keyword"
            placeholder="Find Save Record..."
            (selected)='selectEvent($event)'
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">                                 
            </ng-autocomplete>
            <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.Heading">{{item.heading}}</a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>
        <img *ngIf="imagePreview" [src]="imagePreview" alt="Image_Preview" height="150px" class="pt-2 w-75">
     </div>
   </div>


    <div class="d-flex justify-content-start w-75" style="position:fixed; bottom: 20px;left: 205px;background-color: rgb(240, 240, 240);  border-radius: 20px; padding:10px;">
            <button (click)="onSubmit()" class="btn shadow-sm" [ngClass]="updateAct?'btn-secondary':'btn-success'">{{updateAct?'Submit':'Update'}}</button>
            <button (click)="delet()" class="btn btn-danger mx-2 shadow-sm" [ngClass]="updateAct?'d-none':'d-block'">Delete</button>
            <button (click)="allot()" class="btn btn-light mx-2 shadow-sm">All List</button>
            <button (click)="fresh()" class="btn btn-light mx-2 shadow-sm">New Entry</button>
       
    </div>
</div>