<div style="height: 100vh; width: 100%; background-color: antiquewhite; padding: 2px;">

   <div class="row">
     <div class="col-md-12">
         <form action="" class="p-2" [formGroup]="ProfUpdat">
            <div class="row">
                <div class="col-md-12">
                    <label>Set Image</label>
                    <input type="file" formControlName="imgPath"  placeholder="Select Image .JPG, .PNG" (change)="fileUpdate($event)" class="form-control">
                </div>    
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label>Date of Joining</label>
                    <input type="text" formControlName="doj" placeholder="Select Date" class="form-control">
                </div>
                <div class="col-md-4">
                    <label>RegisterId</label>
                    <input type="text" formControlName="registerId" placeholder="Enter Register Id"  class="form-control">
                </div>
                <div class="col-md-4">
                    <label>Designation</label>
                    <input type="text" formControlName="designation" placeholder="Enter Designation"  class="form-control">
                </div>
            </div>
            
            <div class="row pt-2">
                 <div class="col-md-4">
                    <label>Name</label>
                    <input type="text" formControlName="name" placeholder="Enter Name" class="form-control">
                </div>
                <div class="col-md-4">
                    <label>Contact</label>
                    <input type="text" formControlName="contact"  placeholder="Enter Contact" class="form-control">
                </div>
                <div class="col-md-4">
                    <label>Email</label>
                    <input type="text" formControlName="email"  placeholder="Enter E_mail" class="form-control">
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <label>Father's Name</label>
                    <input type="text" formControlName="fName" id="name" placeholder="Select Father" class="form-control">
                </div>
                <div class="col-md-4">
                    <label>Date of Birth</label>
                    <input type="date" formControlName="dob" class="form-control">
                </div>
                <div class="col-md-4">
                    <label>Gender</label>
                    <select formControlName="gender" class="form-control">
                        <option value="male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>

            <div class="row pt-2">
                <div class="col-md-4">
                    <label>Marital Status</label>
                    <select formControlName="maritalStatus" class="form-control">
                        <option default value="single">Single</option>
                        <option value="married">Married</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Higher Education</label>
                    <select formControlName="hEdu" class="form-control">
                        <option default value="highSchool">High School</option>
                        <option value="intermediate">Intermediate</option>
                        <option value="graduation">Graduation</option>
                        <option value="postGrad">Post Graduation</option>
                        <option value="Other" type="text"></option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Working Profession</label>
                    <input type="text" formControlName="workProf"  placeholder="Enter service "  class="form-control">
                </div>
            </div>

            <div class="row pt-2">
                <div class="col-md-6">
                    <label>Address</label>
                    <input type="text" formControlName="Address"  placeholder="Enter service "  class="form-control">
                </div>
                <div class="col-md-4">
                    <label>LandMark</label>
                    <input type="text" formControlName="landmark"  placeholder="Enter " class="form-control">
                </div>
                <div class="col-md-2">
                    <label>Pin Code</label>
                    <input type="text" formControlName="pin"  placeholder="Enter service "  class="form-control">
                </div>
            </div>
            
            <div class="row pt-2">
                <div class="col-md-3">
                    <label>MemberShip</label>
                    <select formControlName="Member_Type" class="form-control">
                        <option default value="LifeTime">Lifetime Member</option>
                        <option value="General Member">General Member</option>
                        <option value="Executive Member">Executive Member</option>
                        <option value="Volunteer">Volunteer</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>NGO Contribute</label>
                    <select formControlName="join_cat" class="form-control">
                        <option value="Education">Education</option>
                        <option value="Health">Health</option>
                        <option value="Women Empowerment">Women Empowerment</option>
                        <option value="Environmental Protection">Environmental Protection</option>
                        <option value="Youth Service">Youth Service</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="">Already Join with other NGO</label>
                    <input type="text" formControlName="MemOther" placeholder="Enter NGO Name" class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="">Designation</label>
                    <input type="text" formControlName="desination" class="form-control">
                </div>
            </div>
        </form>
     </div>
     <div class="col-md-4">
        <!-- <div class="ng-autocomplete pt-4" [ngClass]="showList?'d-block':'d-none'">
            <ng-autocomplete 
            [data]="data"
            [searchKeyword]="keyword"
            placeholder="Find Save Record..."
            (selected)='selectEvent($event)'
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">                                 
            </ng-autocomplete>
            <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.linkText1">{{item.heading}}</a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
            </ng-template>
        </div> -->
        <img *ngIf="imagePreview" [src]="imagePreview" alt="Image_Preview" height="150px" class="pt-2 w-75">
     </div>
   </div>

    <div class="d-flex justify-content-between w-75" style="position:fixed; bottom: 20px;left: 205px;background-color: rgb(240, 240, 240);  border-radius: 20px; padding:10px;">
        <div>
            <button (click)="onSubmit()" class="btn shadow-sm" [ngClass]="updateAct?'btn-secondary':'btn-success'">{{updateAct?'Submit':'Update'}}</button>
        </div>
    </div>

</div>