<!-- <div style="min-height: 100vh; width: 100%; background-color: antiquewhite; padding: 2px; padding-bottom:3em">

   <div class="row">
     <div class="col-md-9">
         <form action="" class="p-2" [formGroup]="blogDetails">
            <div class="row">
                <div class="col-md-4">
                    <div class="ng-autocomplete pt-4" [ngClass]="showList?'d-block':'d-none'">
                        <ng-autocomplete 
                        [data]="data"
                        [searchKeyword]="keyword"
                        placeholder="Find Save Record..."
                        (selected)='selectEvent($event)'
                        [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate" class="w-100">                                 
                        </ng-autocomplete>
                        <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.linkText1">{{item.heading}}</a>
                        </ng-template>
                        <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                </div>
            </div>
            
            <div [ngStyle]="{ 'display': this.isVisible ? 'block' : 'none' }">
                <div class="row pt-2">
                    <div class="col-md-12">
                        <label for="">Blog dinList Heag</label>
                        <input type="text" [value]="blogListHding" disabled class="form-control">
                    </div>
                </div>
                <div class="row pt-2">
                <div class="col-md-4">
                    <label>Img</label>
                    <input type="file" formControlName="Img" placeholder="Select Date" class="form-control"  (change)="imgPath1($event)">
                </div>
                <div class="col-md-4">
                    <label>Rights</label>
                    <input type="text" formControlName="Rights" placeholder="Enter Rights"  class="form-control" >
                </div>
                <div class="col-md-4">
                    <label>Type</label>
                    <input type="text" formControlName="type"  placeholder="Enter Type" class="form-control">
                </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-4">
                        <label>Head</label>
                        <input type="text" formControlName="Head"  placeholder="Enter Head Type"  class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label>Pera1</label>
                        <input type="text" formControlName="Pera1"  placeholder="Enter Pera1 Type"  class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label>Pera2</label>
                        <input type="text" formControlName="Pera2"  placeholder="Enter Pera2 Type"  class="form-control">
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-6">
                        <label>Blockquate</label>
                        <input type="text" formControlName="blockquate"  placeholder="Enter Blockquate Type"  class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Pera3</label>
                        <input type="text" formControlName="Pera3"  placeholder="Enter Pera-3 Type"  class="form-control">
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-6">
                        <label>BlogImg1</label>
                        <input type="file" formContrcolName="BlogImg1" placeholder="Select Date" class="form-control" (change)="imgPath2($event)">
                    </div>
                    <div class="cal-md-6">
                        <label>BlogImg2</label>
                        <input type="file" formContrcolName="BlogImg2" placeholder="Select Date" class="form-control" (change)="imgPath3($event)">
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-6">
                        <label>Pera4</label>
                        <input type="text" formControlName="Pera4"  placeholder="Enter Pera4..." class="form-control">
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-3">
                        <label>FB-Link</label>
                        <input type="text" formControlName="FbLink"  placeholder="Enter Hyper Links" class="form-control">
                    </div>            
                    <div class="col-md-3">
                        <label>Twitter Link</label>
                        <input type="text" formControlName="TwLink"  placeholder="Enter Hyper Links" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label>Linked Link</label>
                        <input type="text" formControlName="LinkLink"  placeholder="Enter Hyper Links" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label>Insta Link</label>
                        <input type="text" formControlName="InstLink"  placeholder="Enter Hyper Links" class="form-control">
                    </div>
                </div>
            </div>

        </form>
     </div>
      <div class="col-md-3" [ngStyle]="{'display':this.isVisible ? 'block':'none'}">
        <div class="row pt-2">
            <label>Image</label>
            <img *ngIf="imagePreview3" [src]="imagePreview3" [alt]="imagePreview3" height="150px" class="pt-2 w-75">
        </div>
        <div class="row pt-2">
            <label>BlogImg1</label>
             <img *ngIf="imagePreview1" [src]="imagePreview1" [alt]="imagePreview1" height="150px" class="pt-2 w-75">
        </div>
        <div class="row pt-2">
            <label>BlogImg2</label>
            <img *ngIf="imagePreview2" [src]="imagePreview2" [alt]="imagePreview2" height="150px" class="pt-2 w-75">
     </div>
   </div>

    <div class="d-flex justify-content-between w-75" style="position:fixed; bottom: 20px;left: 205px;background-color: rgb(240, 240, 240);  border-radius: 20px; padding:10px;">
        <div>
            <button (click)="onSubmit()" class="btn shadow-sm" [ngClass]="updateAct?'btn-secondary':'btn-success'">{{updateAct?'Submit':'Update'}}</button>
            <button (click)="allot()" class="btn btn-light mx-2 shadow-sm">All List</button>
            <button (click)="clear()" class="btn btn-light mx-2 shadow-sm">Clear</button>
        </div>
    </div>

</div> -->

<div *ngIf="loader" class="w-screen h-screen flex-center bg-white dark:bg-dark-card fixed inset-0 z-[9999]">
    <img src="assets/pre-loader/bar-loader.gif" alt="loader">
</div>

<div class="main-content group-data-[sidebar-size=lg]:xl:ml-[calc(theme('spacing.app-menu')_+_16px)] group-data-[sidebar-size=sm]:xl:ml-[calc(theme('spacing.app-menu-sm')_+_16px)] group-data-[theme-width=box]:xl:px-0 px-3 xl:px-4 ac-transition">
    <div class="card">
        <div style="display: flex;justify-content: space-between;align-items: center;">
            <h2 class="card-title">Select Blog Details using Blog List Heading</h2>
            <div class="ng-autocomplete" [ngClass]="showList?'d-block':'d-none'">
                <ng-autocomplete 
                [data]="data"
                [searchKeyword]="keyword"
                placeholder="Find Save Record..."
                (selected)='selectEvent($event)'
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate">                                 
                </ng-autocomplete>
                <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.linkText1">{{item.heading}}</a>
                </ng-template>
                <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
        </div>
    </div>

     <div class="grid grid-cols-12 gap-x-4">
        <!-- DATA FORM -->
        <div class="col-span-full">
            <div class="card p-0">
                <div class="flex-center-between p-6 pb-4 border-b border-gray-200 dark:border-dark-border">
                    <h3 class="text-lg card-title leading-none">Blog Details</h3>
                </div>
                <form class="p-6" [formGroup]="blogDetails">
                    <div *ngIf="formShow">
                        <div class="flex lg:flex-row flex-col gap-x-4">
                            <div class="w-full mb-4">
                                <label class="form-label">Blog dinList Heag</label>
                                <input type="text" [value]="blogListHding" autocomplete="off" class="form-input" required >
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">Image</label>
                                <input type="file" formControlName="Img" placeholder="Select Image .JPG, .PNG" class="form-input" (change)="imgPath1($event)">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">Rights</label>
                                <input type="text" formControlName="Rights" placeholder="Enter Rights" class="form-input">
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col gap-x-4">
                            <div class="w-full mb-4">
                                <label class="form-label">Type</label>
                                <input type="text" formControlName="type" placeholder="Enter Type" class="form-input">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">Head</label>
                                <input type="text" formControlName="Head" placeholder="Enter Head" class="form-input">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">Peragraph 1</label>
                                <input type="text" formControlName="Pera1" placeholder="Enter Peragraph 1" class="form-input">
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col gap-x-4">
                            <div class="w-full mb-4">
                                <label class="form-label">Blockquate</label>
                                <input type="text" formControlName="blockquate" placeholder="Enter Blockquate Type" class="form-input">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">Peragraph 2</label>
                                <input type="text" formControlName="Pera2" placeholder="Enter Peragraph 2" class="form-input">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">Peragraph 3</label>
                                <input type="text" formControlName="Pera3" placeholder="Enter Peragraph 3" class="form-input">
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col gap-x-4">
                            <div class="w-full mb-4">
                                <label class="form-label">Blog Image 1</label>
                                <input type="file" formControlName="BlogImg1" placeholder="Select Image .JPG, .PNG" class="form-input" (change)="imgPath2($event)">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">Blog Image 2</label>
                                <input type="file" formControlName="BlogImg2" placeholder="Select Image .JPG, .PNG" class="form-input" (change)="imgPath3($event)">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">Peragraph 4</label>
                                <input type="text" formControlName="Pera4" placeholder="Enter Peragraph 4" class="form-input">
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col gap-x-4">
                            <div class="w-full mb-4">
                                <label class="form-label">Facebook-Link</label>
                                <input type="text" formControlName="FbLink" placeholder="Enter FB Hyper Link" class="form-input">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">Twitter-Link</label>
                                <input type="text" formControlName="TwLink" placeholder="Enter Twitter Hyper Link" class="form-input">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">Linked-Link</label>
                                <input type="text" formControlName="LinkLink" placeholder="Enter LinkedIn Hyper Links" class="form-input">
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col gap-x-4">
                            <div class="w-full mb-4">
                                <label class="form-label">Insta Link</label>
                                <input type="text" formControlName="InstLink" placeholder="Enter Insta Hyper Links" class="form-input">
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col gap-x-4" [ngStyle]="{'display':this.isVisible ? 'block':'none'}">
                            <div class="w-full mb-4">
                                <label class="form-label">Image</label>
                                <img *ngIf="imagePreview3" [src]="imagePreview3" [alt]="imagePreview3" height="150px" class="pt-2 w-75">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">Blog Image 1</label>
                                <img *ngIf="imagePreview1" [src]="imagePreview1" [alt]="imagePreview1" height="150px" class="pt-2 w-75">
                            </div>
                            <div class="w-full mb-4">
                                <label class="form-label">Blog Image 2</label>
                                <img *ngIf="imagePreview2" [src]="imagePreview2" [alt]="imagePreview2" height="150px" class="pt-2 w-75">
                            </div>
                        </div>
                    </div>
                    <div [ngStyle]="{'display':this.formShow?'block':'none'}">
                        <div style="display: flex;justify-content: space-between;flex-wrap: wrap;">
                           <button (click)="onSubmit()" class="btn b-solid px-5 dk-theme-card-square" [ngClass]="updateAct?'btn-secondary-solid':'btn-success-solid'">{{updateAct?'Submit':'Update'}}</button>
                           <button (click)="allot()" class="btn b-solid btn-light-solid px-5 dk-theme-card-square">All List</button>
                           <button (click)="clear()" class="btn b-solid btn-light-solid px-5 dk-theme-card-square">Clear</button>
                       </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>