<!-- 
    <div class="container-fluid">
        <div class="row bg-light h-100 ">
            <div class="col-md-12">
                <div class="min-vh-100 d-flex flex-column justify-content-center align-items-center">
                    <h3>Forget Password</h3>
                    <form [formGroup]="forgetForm" *ngIf="forgetForm" >
                        <input type="email" autocomplete="on" maxlength="60" placeholder="Email" formControlName="email" class="form-control">
                        <div class="d-flex justify-content-between pt-2 p-1">
                            <button data-tw-merge="" (click)="onSubmit()" class="btn btn-primary">Forget</button>
                            <button data-tw-merge="" (click)="signin()" class="btn btn-primary">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
-->
    <!-- loader -->
    <div *ngIf="loader" class="w-screen h-screen flex-center bg-white dark:bg-dark-card fixed inset-0 z-[9999]">
        <img src="assets/pre-loader/bar-loader.gif" alt="loader">
    </div>
    <!-- loader -->

    <div class="main-content m-4">
        <div class="grid grid-cols-12 gap-y-7 sm:gap-7 card px-4 sm:px-10 2xl:px-[70px] py-15 lg:items-center lg:min-h-[calc(100vh_-_32px)]">
            <!-- Start Overview Area -->
            <div class="col-span-full lg:col-span-6">
                <div class="flex flex-col items-center justify-center gap-10 text-center">
                    <div class="hidden sm:block">
                        <img src="../../../assets/images/loti/loti-success-confirmation.svg" alt="loti" class="group-[.light]:hidden">
                    </div>
                   
                </div>
            </div>
            <!-- End Overview Area -->

            <!-- Start Form Area -->
            <div class="col-span-full lg:col-span-6 w-full lg:max-w-[600px]">
                <div class="border border-form dark:border-dark-border p-5 md:p-10 rounded-20 md:rounded-30 dk-theme-card-square">
                    <h3 class="text-xl md:text-[28px] leading-none font-semibold text-heading">
                        Forgot Password
                    </h3>
                    <p class="font-medium text-gray-500 dark:text-dark-text mt-4">
                        Welcome Back! Log in to your account
                    </p>
                    <form [formGroup]="forgetForm" *ngIf="forgetForm" class="leading-none mt-8">
                        <div class="mb-7">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" placeholder="Enter Register Email" required autocomplete="off" formControlName="email" class="form-input px-4 py-3.5 rounded-lg">
                        </div>
                        <!-- Submit Button -->
                        <button (click)="onSubmit()" class="btn b-solid btn-primary-solid w-full dk-theme-card-square">Forgot Password</button>
                    </form>
                    <div class="text-gray-900 dark:text-dark-text font-medium leading-none mt-5">
                        Back to /
                        <a (click)="signin()" class="text-primary-500 font-semibold">Sign in</a>
                    </div>
                </div>
            </div>
            <!-- End Form Area -->
        </div>
    </div>
    
